<template>
  <div class="about">
    <h1>This is an about page</h1>
    <b-img
      :src="require('../assets/myimage.jpg')"
      fluid
      alt="Responsive image"
    ></b-img>
  </div>
</template>
